section{
    padding-bottom:10%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
a{color:inherit;}
a:hover {
	color:none;
    text-decoration: underline;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none; 
}

.under-line{
    text-decoration:underline;
}
.display-block{
    display:block;
}

.text-black{
    color:#000;
}
.text-white{
    color:#fff;
}
.text-red{
    color:#e51f37;
}
.text-dark-red{
    color:#b52133;
}
.text-dark-gray{
    color:#343d3c;
}
.text-light-gray{
    color:#d5d5d5;
}

.highlight-button-default {
    border: 2px solid #f8b62c;
    background-color: #f8b62c;
    padding: 4px 20px;
    color: #fff !important;
    letter-spacing:1px;
}
.highlight-button-default-border {
    border: 2px solid #f8b62c;
    background-color: transparent;
    padding: 4px 20px;
    color: #f8b62c !important;
    margin: 5% 0 5%;
    letter-spacing:1px;
}


.blockquote {
    border-left: 5px solid #60bc90;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px;
    padding: 20px 40px;
}

.bg-default{
    background-color:#f8b62c;
}

.bg-yellow {
    background: #fbd84a!important;
}
.bg-dark-gray {
    background: #252525!important;
}
.bg-black {
    background-color: #000!important;
}
.bg-darker{
    background-color:#fcfbf5;
}
.font-weight-300{
    font-weight:300;
}
.font-weight-400{
    font-weight:400;
}
.font-weight-500{
    font-weight:500;
}
.font-weight-600{
    font-weight:600;
}
.font-weight-700{
    font-weight:700;
}
.big-text{
    font-size:30px;
}
.med-text{
    font-size:18px;
}
.small-text{
    font-size:16px;
}
.tiny-text{
    font-size:14px;
}
.letter-spacing-1{
    letter-spacing:1px;
}
.letter-spacing-2{
    letter-spacing:2px;
}
.letter-spacing-3{
    letter-spacing:3px;
}

.nav-default{
	background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;"
}
.navbar-brand img{
	width: 210px;
    margin-left: 40px;
}

.nav-pills .nav-link {
    border-radius: 0;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #60bc90;
    border-bottom:none;
}
.i-med-box {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}
.i-big-box {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
}
.i-circled {
    border-radius: 50%;
}

.page-top{
    margin-top:160px;
}

.badge{
    padding:.25em .6em;
    /*font-size:80%;*/
    font-weight:500;
}
.badge-topics{
    color:#fff;
    background-color:#f8b62c;
    font-weight:400;
}
.badge-topics-border{
    color:#f8b62c;
    border:1px solid #f8b62c;
    font-weight:400;
}
.badge-default-green{
    background:#60bc90c9;
    color:#fff;
}
.badge-light {
    color: #cec8c8;
    background-color: #f8f9fa;
}
.profile-banner {
    background-image: url(../images/banner6.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    /* background-position: 50% 50%; */
    background-attachment: fixed;
    /*margin-top: 7%;*/
    height:450px;
}
.dark-mask {
    background: rgba(0,0,0,0.3);
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #fff;
    z-index: 999;
}
.profile-photo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 3px solid #fff;
}

@keyframes typing {
  from { width: 0 }
}
@keyframes caret {
  50% { border-color: transparent; }
}
.profile-name {
  width: 28rem;
  border-right: .05em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(11),
    caret 2s steps(1) infinite;
}

@media (max-width: 575.98px) {
	.navbar-brand img{
	width: 180px;
    margin-left: 0;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) {
}
@media (min-width: 768px) and (max-width: 991.98px){
    
}
